/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    float: left;
    background-color: antiquewhite;
    margin: 5% 0.5%;
    width: calc(97% / 3);
    height: 200px;
}